<div class="contenedor">
        <header>
          <h1 class="title">Calculadora</h1>
        </header>
        <div class="Calculadora">
          <article class="fondo">
            <img class="imagen" src="calculadora.png">
            <h3>Normal Calculator</h3>
            

                <div>
                    <label class="label" for="operacion">Que operacion desea hacer?</label>
                    <select class="inpSelec" [(ngModel)]="op" type="number" required>
                      <option value="1">Sumar</option>
                      <option value="2">Restar</option>
                      <option value="3">Multiplicar</option>
                      <option value="4">Dividir</option>
                      <option value="5">Potencia</option>
                      <option value="6">Raiz cuadrada</option>
                      <option value="7">Logaritmo Natural</option>
                      <option value="8">Logaritmo</option>
                    </select>
                  </div>
              <label class="labeln">Ingrese un Numero:</label>
              <input class="inp" [(ngModel)]="number1" type="number" placeholder="numero 1"><br>
              <label class="labeln">Ingrese otro Numero:</label>
              <input class="inp" [(ngModel)]="number2" type="number" placeholder="numero 2"><br>
              
              <button (click)="Resolver()" class="button"> Realizar </button>
              <br>
              <br>
              <span class="resultado">
                Resultado : {{result}}
                </span>
          </article>
        </div> 
      </div>